<p id="notice"><%= notice %></p>

<p>Image ID: <%= @image.id %> </p>
<p>Source:</p>
<img src="<%= @image.src %>">
</br>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
