<p id="notice"><%= notice %></p>

<h1>Artists Table</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <%= will_paginate @artists %>
    </div>
    <div class="col-md-4 col-sm-4 newBtn">
      <%= link_to 'Create a New Artist', new_artist_path, :class=>"btn btn-primary"%>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered fixed">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Gender</th>
        <th>Status</th>
        <th>Country</th>
        <th>Date of birth</th>
        <th>Background</th>
        <th>Phone number</th>
        <th>Email</th>
        <th colspan="3">Operations</th>
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td><%= artist.id %></td>
          <td><%= artist.first_name %></td>
          <td><%= artist.last_name %></td>
          <td><%= artist.gender %></td>
          <td><%= artist.status %></td>
          <td><%= artist.country_id %></td>
          <td><%= artist.date_of_birth %></td>
          <td><%= artist.background %></td>
          <td><%= artist.phone_number %></td>
          <td><%= artist.email %></td>
          <td><%= link_to 'Show', artist %></td>
          <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
          <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @artists %>
