<%= form_for(@artwork) do |f| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :period %><br>
    <%= f.text_field :period %>
  </div>
  <div class="field">
    <%= f.label :edition %><br>
    <%= f.number_field :edition %>
  </div>
  <div class="field">
    <%= f.label :medium %><br>
    <%= f.text_field :medium %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :authentic %><br>
    <%= f.check_box :authentic %>
  </div>
  <div class="field">
    <%= f.label :stock %><br>
    <%= f.number_field :stock %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :artwork_artist_map_id %><br>
    <%= f.text_field :artwork_artist_map_id %>
  </div>
  <div class="field">
    <%= f.label :artwork_seller_map_id %><br>
    <%= f.text_field :artwork_seller_map_id %>
  </div>
  <div class="field">
    <%= f.label :artwork_image_map_id %><br>
    <%= f.text_field :artwork_image_map_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
