<p id="notice"><%= notice %></p>

<h1>Artwork Artist Maps Table</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <%= will_paginate @artwork_artist_maps %>
    </div>
    <div class="col-md-4 col-sm-4 newBtn">
      <%= link_to 'New Artwork artist map', new_artwork_artist_map_path, :class=>"btn btn-primary"%>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered fixed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Artwork ID</th>
        <th>Artist ID</th>
        <th colspan="3">Operations</th>
      </tr>
    </thead>

    <tbody>
      <% @artwork_artist_maps.each do |artwork_artist_map| %>
        <tr>
          <td><%= artwork_artist_map.id %></td>
          <td><%= artwork_artist_map.artwork_id %></td>
          <td><%= artwork_artist_map.artist_id %></td>
          <td><%= link_to 'Show', artwork_artist_map %></td>
          <td><%= link_to 'Edit', edit_artwork_artist_map_path(artwork_artist_map) %></td>
          <td><%= link_to 'Destroy', artwork_artist_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
 <%= will_paginate @artwork_artist_maps %>
