<%= form_for(@artwork_seller_map) do |f| %>
  <% if @artwork_seller_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork_seller_map.errors.count, "error") %> prohibited this artwork_seller_map from being saved:</h2>

      <ul>
      <% @artwork_seller_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artwork_id %><br>
    <%= f.number_field :artwork_id %>
  </div>
  <div class="field">
    <%= f.label :seller_id %><br>
    <%= f.text_field :seller_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
