<p id="notice"><%= notice %></p>

<p>
  <strong>ID</strong>
  <%= @artwork_image_map.id %>
</p>

<p>
  <strong>Artwork ID:</strong>
  <%= @artwork_image_map.artwork_id %>
</p>

<p>
  <strong>Image ID:</strong>
  <%= @artwork_image_map.image_id %>
</p>

<%= link_to 'Edit', edit_artwork_image_map_path(@artwork_image_map) %> |
<%= link_to 'Back', artwork_image_maps_path %>
